/*-------------ELEMENT SELECTORS-------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    color: #8f8f8f;
}

/*-------------ID SECTION-------------*/
#features {
    position: relative;
    z-index: 2;
}

#testimonials {
    background-color: #ef8172;
}

#press {
    padding-bottom: 3%;
    background-color: #ef8172;
}

#pricing {
    padding: 100px;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/*CLASS SELECTORS*/
/*headings*/
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

.feature-title {
    font-size: 1.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.navbar {
    padding-bottom: 4.5rem;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {

}

.pricing-col {
    padding: 3% 2%;
}

.cta-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.coloured-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/*-----------FOOTER SECTION--------*/
#footer {

}

.social-icon {
    margin: 20px 10px;
}

.social-icon:hover {
    cursor: pointer;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}